.userProfile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: url('../assets/login img.png');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.userProfile-title {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ea9393, #311010);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

.userProfile-error {
  color: red;
  margin-bottom: 10px;
}

.userProfile-button {
  margin: 10px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e05b59;
  color: white;
  cursor: pointer;
}

.userProfile-button:hover {
  background-color: #7a3230;
}

.userProfile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 20px;
  background-color: #fef4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.userProfile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.userProfile-image {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.userProfile-input-group {
  margin-bottom: 15px;
}

.userProfile-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.userProfile-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.userProfile-display {
  padding: 10px;
  border: 0px solid #ced4da;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .userProfile-title {
    font-size: 30px;
    top: 10px;
    left: 10px;
  }
  .userProfile-form {
    width: 90%;
    padding: 15px;
  }
  .userProfile-image {
    width: 100px;
    height: 100px;
  }
  .userProfile-button {
    padding: 8px 12px;
  }
  .userProfile-input {
    padding: 8px;
  }
  .userProfile-label {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .userProfile-title {
    font-size: 24px;
  }
  .userProfile-image {
    width: 80px;
    height: 80px;
  }
  .userProfile-form {
    padding: 10px;
  }
}